<div class="section-title">
  Items
  <input #searchBox
         id="name"
         name="name"
         class="form-control"
         placeholder="Search"
         (input)="search(searchBox.value)"/>

  <ul class="search-result">
    <li *ngFor="let item of searchItems$ | async">
      <a routerLink="{{item.id}}">
        {{item.name}}
      </a>
    </li>
  </ul>
</div>

<ul class="card-list" *ngFor="let item of items">
  <li class="card">
    <div class="card-title">
      <a routerLink="{{item.id}}"> {{item.name}}</a>
    </div>
    <img class="card-image" src="../../assets/img/item-image.png" alt="item image">
    <div class="card-footer">
      <div>Price: {{item.price}}{{item.currency}}</div>
      <div class="stock" *ngIf="item.amountStock > 10 || item.amountStock === 10">
        <span>High</span>
        <img class="icon" src="../../assets/img/high.png" alt="warning">
      </div>
      <div class="stock" *ngIf="item.amountStock >5 && item.amountStock < 10">
        <span>medium</span>
        <img class="icon" src="../../assets/img/medium.png" alt="warning">
      </div>
      <div class="stock" *ngIf="item.amountStock < 5 || item.amountStock === 5">
        <span>low</span>
        <img class="icon" src="../../assets/img/low.png" alt="warning">
      </div>
    </div>
  </li>
</ul>

